.features-section {
  padding: var(--space-lg);
}

.features-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-lg);
}

.features-left {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.features-left h2 {
  font-size: var(--text-lg);
  font-weight: 800;
  line-height: 110%;
  color: var(--color-text);
}

.features-left p {
  font-size: var(--text-md);
  color: var(--color-text);
  line-height: 180%;
}

.features-left a {
  font-size: var(--text-md);
  line-height: 24px;
  color: var(--color-primary);
  font-weight: 500;
}

.features-right {
  max-width: 600px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.visual {
  position: relative;
  width: 500px;
  height: 500px;
}

.feature-blob {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.feature-card {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 230px;
  padding: var(--space-sm);
  border-radius: var(--radius-md);
  background: white;
  border: 2px solid transparent;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.feature-card .tag {
  background: #DBEAFE;
  color: var(--color-primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
}

.feature-card h4 {
  font-size: var(--text-md);
  font-weight: 500;
}

.feature-card p {
  font-size: 14px;
  color: var(--color-muted);
}

.feature-card button {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--color-primary);
  background: transparent;
  border-radius: var(--radius-md);
  color: var(--color-primary);
}

.img {
  position: absolute;
}

.img-top {
  top: 120px;
  right: 10px;
}

.img-bottom-left {
  width: 300px;
  bottom: 10px;
  left: 20px;
}

.img-bottom-right {
  width: 232px;
  bottom: 10px;
  right: -40px;
}

.feature-blob,
.img,
.avatar {
  height: auto;
  max-width: 100%;
}

.avatar {
  position: absolute;
  width: 90px;
  height: 100px;
  border-radius: 50%;
  right: 1px;
  top: 200px;
  z-index: 3;
}

@media (max-width: 1024px) {

  .features-section {
    padding: 60px 40px;
  }

  .features-container {
    flex-direction: column;
    gap: 60px;
  }

  .features-left {
    text-align: center;
    align-items: center;
  }

  .features-left h2 {
    font-size: 40px;
  }

  .visual {
    width: 400px;
    height: 400px;
  }

}

@media (max-width: 768px) {

  .features-section {
    padding: 48px 16px;
    overflow-x: hidden;
  }

  .features-container {
    flex-direction: column;
    gap: 24px;
  }

  .features-left {
    width: 100%;
    text-align: left;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 60px;
  }

  .features-left h2 {
    font-size: 28px;
    line-height: 120%;
  }

  .features-left p {
    font-size: var(--text-sm);
  }

  .features-left a {
    font-size: var(--text-sm);
  }

  .visual {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .feature-blob {
    width: 460px;
    height: 460px;
  }

  .feature-card {
    left: 0;
    top: 0;
  }

  .feature-card h4 {
    font-size: var(--text-sm);
  }

  .feature-card p {
    font-size: 12px;
  }

  .feature-card button {
    font-size: 12px;
    padding: 6px;
  }

  .features-right {
    margin-bottom: 80px;
    z-index: 2;
  }

  .img-top {
    right: -40px;
    top: 90px;
  }

  .img-bottom-left {
    bottom: -50px;
    left: -20px;
  }

  .img-bottom-right {
    bottom: -50px;
    right: -100px;
  }

  .avatar {
    display: none;
  }

}