.navbar{
  padding: 24px 80px;
}

.navbar-left, .navbar-center{
  gap: 48px;
}

.navbar-center a, .navbar-right a{
  padding: 12px 8px;
  text-decoration: none;
  color: #0F172A;
}

.navbar-right{
  gap: 16px;
}

.navbar-right button{
  padding: 12px 28px;
  border-radius: 8px;
  border: 2px solid #0F172A;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  z-index: 1000;
}

.mobile-menu a {
  text-decoration: none;
  color: #0F172A;
  font-size: 16px;
}

.mobile-menu button {
  padding: 12px;
  border: 2px solid #0F172A;
  border-radius: 8px;
  background: transparent;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  z-index: 1000;
}

@media (max-width: 1024px) {

  .navbar {
    padding: 20px 40px;
  }

  .navbar-center {
    display: none !important;
  }
 
  .hamburger {
    display: block;
  }
}


@media (max-width: 768px) {

  .navbar {
    padding: 16px;
  }

  .navbar-right a,
  .navbar-right button {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
