.stats{
  padding: var(--space-lg);
  gap: var(--space-lg);
  background-color: var(--color-bg-dark);
}

.stats-container{
  display: flex;
  justify-content: space-between;  
  align-items: center;
  margin: 0 auto;
  gap: var(--space-lg);
}

.stat{
  gap: var(--space-sm);
  padding: 0 var(--space-lg);
  text-align: center;
}

.stat h3{
  font-size: var(--text-xl);
  font-weight: 800;
  color: var(--color-yellow);
  line-height: 110%;
}

.stat p{
  font-size: 24px;
  color: var(--color-yellow);
  line-height: 160%;
}

.stat img{
  max-width: 100%;
  height: auto;
}

@media (max-width: 1024px) {

  .stats {
    padding: 60px 40px;
  }

  .stats-container {
    gap: 60px;
  }

  .stat {
    padding: 0 20px;
  }

  .stat h3 {
    font-size: var(--text-lg);
  }

  .stat p {
    font-size: var(--text-md);
  }

}

@media (max-width: 768px) {

  .stats {
    padding: 48px 16px;
  }

  .stats-container {
    flex-direction: column;
    gap: var(--space-md);
  }

  .stat {
    padding: 0;
  }

  .stat img {
    width: 48px;
    height: 48px;
  }

  .stat h3 {
    font-size: 40px;
  }

  .stat p {
    font-size: var(--text-sm);
  }

}