.student-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-lg);
  gap: var(--space-lg);
}

.student-left {
  display: flex;
  gap: 8px;
}

.student-left img {
  max-width: 100%;
  height: auto;
}

.col:nth-child(1) {
  margin-top: 60px;
}

.col:nth-child(3) {
  margin-top: 50px;
}

.col:nth-child(4) {
  margin-top: 120px;
}

.student-right {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.student-right h2 {
  font-size: var(--text-lg);
  font-weight: 800;
  line-height: 110%;
  color: var(--color-text);
}

.student-right p {
  font-size: var(--text-md);
  color: var(--color-text);
  font-weight: 400;
  line-height: 180%;
}

.student-right a {
  color: var(--color-primary);
  font-size: var(--text-md);
  font-weight: 500;
  line-height: 24px;
}

.highlight-word {
  position: relative;
  display: inline-block;
}

.highlight-word::after {
  content: "";
  position: absolute;
  top: -45px;
  left: 85%;
  transform: translateX(-50%);
  width: 64px;
  height: 64px;
  background: url('/images/plane.png') no-repeat center;
  background-size: contain;
}

@media (max-width: 1024px) {

  .student-section {
    flex-direction: column;
    padding: 60px 40px;
    gap: 60px;
  }

  .student-right {
    max-width: 100%;
    text-align: center;
    align-items: center;
  }

  .student-right h2 {
    font-size: 40px;
  }

}

@media (max-width: 768px) {

  .student-section {
    flex-direction: column-reverse;
    padding: 48px 16px;
    gap: var(--space-md);
  }

  .student-right {
    width: 100%;
    text-align: left;
    align-items: flex-start;
    gap: 24px;
  }

  .student-right h2 {
    font-size: 28px;
    line-height: 120%;
  }

  .student-right p {
    font-size: var(--text-sm);
    line-height: 160%;
  }

  .student-right a {
    font-size: var(--text-sm);
  }

  .highlight-word::after {
    width: 28px;
    height: 28px;
    top: -16px;
  }

  .student-left {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

}